html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  float: left;
  height: 100%;
  width: 80%
}

#recent {
  float: right;
  width: 20%;
  height: 100%;
}
