!!! 5
- var menuItems = ["Recent", "Top List"];
html
  head
    title Maps
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://mbostock.github.com/d3/d3.js?1.29.1', charset='utf-8')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(type='text/javascript', src='/js/namespace.js')
    script(type='text/javascript', src='/js/overlay.js')
      
  body
    .navbar.navbar-fixed-top.navbar-inverse: .navbar-inner: .container
      a.brand(href="#").
        Maps
      ul.nav.pull-right: li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          | Things
          b.caret
        ul#list.dropdown-menu
          li#recent: a(href="#") Recent
          li#overlay-toggle: a(href="#") Voronoi
    .viewport
      .frame
        #menu.menu.nav-collapse.collapse.width
          .collapse-inner
            .navbar.navbar-inverse
              .navbar-inner
                | Menu
            ul.nav.nav-tabs.nav-stacked
              each place in places
                li(id="li-#{place._id}").recent: a(href="#")= place.name
                input(id="input-#{place._id}")(type='hidden', value='#{place.latLng}')
            #close.button.btn.btn-default(type='button') Close
        #map-canvas
    script(type='text/javascript', src='/js/app.js')
