html
  head
    title This is a map
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/index.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    #map-canvas
    #recent
      each place in places
        p #{place.name} at #{place.createdAt}
    script(type='text/javascript', src='./javascripts/app.js')
